*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    height:100%;
    width:100%;
    background-image: url(./Assets/bg.jpg);
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  
}
.login-box{
    position: relative;
    background:transparent;
    border: 1px solid white;
    height: 27rem;
    width: 20rem;
    border: 2px solid rgba(255, 255, 255, 0.5rem );
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2rem);
}
h2{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.input-box{
    position: relative;
    width:17rem;
    margin: 2rem 0;
    border-bottom: 1px solid white;
}
.input-box label {
    position:absolute;
    top:50%;
    left:0.5rem;
    font-size: 0.8rem;
    transform: translateY(-50%);
    pointer-events: none;
    color:white;
    transition:.5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -0.5rem;
    left:0.5rem;
}

.input-box input{
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    padding: 0 2rem 0 0.3rem;
   
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1rem;
    line-height: 40px;
}
.remember-forget{
    margin: -20px 0 15px;
    font-size: 0.7rem;
    color:white;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    margin-right: 4px;
}
.remember-forget a{
    color:white;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 2.5rem;
    color:black;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 800;
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
}
.register-link{
    color:rgb(138, 138, 138);
    font-size: 0.6rem;
    text-align: center;
    margin-top: 1rem;
}
.register-link p a{
    color:white;
    text-decoration: none;
    font-weight: 800;
}
.register-link p a:hover{
    text-decoration: underline;
}